{% extends "system_base.html" %}

{% block body %}

<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left" style="padding-top: 7.5px;">工作室详细信息</h3>
		<div style="float:right;">
			<button id="btn_back" onclick="click_a('system/index?tab_href=product_info')" type="button" class="btn btn-primary">返回</button>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">名称</label>
					<div class="col-sm-10">
						<input id="txt_product_name" type="text" class="form-control" value="{{ result['product']['name'] }}" disabled>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">创建者</label>
					<div class="col-sm-10">
						<input id="txt_creator" type="text" class="form-control" value="{{ result['product']['creator'] }}" disabled>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">创建日期</label>
					<div class="col-sm-10">
						<input id="<txt_create_date>" type="text" class="form-control" value="{{ result['product']['create_date'] }}" disabled>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-2 control-label text-right">描述</label>
					<div class="col-sm-10">
						<input id="txt_decs" type="text" class="form-control" value="{{ result['product']['desc'] }}" disabled>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<table id="tb_project" class="table table-bordered table-hover">
			<thead>
				<tr style="background-color:#1ABC9C;color:#FFFFFF;">
					<th>No.</th>
					<th>名称</th>
					<th>所属工作室</th>
					<th>创建者</th>
					<th>创建时间</th>
					<th>描述</th>
				</tr>
			</thead>
			<tbody>
			{% if len(result['project_list']) == 0 %}
			<tr>
				<td colspan="6">没有任何数据</td>
			</tr>
			{% else %}
			{% set i = 0 %}
			{% for project in result['project_list'] %}
			<tr id="project_{{ project['id'] }}">
				
				{% set i = i + 1 %}
				<td>{{ i }}</td>
				<td>{{ project['name'] }}</td>
			    <td>{{ project['product_name'] }}</td>
				<td>{{ project['creator'] }}</td>
			    <td>{{ project['create_date'] }}</td>
			    <td>{{ project['desc'] }}</td>
			<tr>
			{% end %}
			{% end %}
			</tbody>
		</table>
	</div>
</div>
{% end %}

{% block bottom %}
<script>
$(function(){
	init_product_detail();
});
</script>
{% end %}